.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: #03A9B5;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #37BAC4;
    stroke-width: 2px;
}